<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168076402426-cag52ue1mgdumasj6a33q09v4b9agavi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168076402426-cag52ue1mgdumasj6a33q09v4b9agavi</string>
	<key>API_KEY</key>
	<string>AIzaSyBixuuDqyQ_8mhHJo4t6YkQ0yilpvpCEBU</string>
	<key>GCM_SENDER_ID</key>
	<string>168076402426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gwinyai.InstagramApp</string>
	<key>PROJECT_ID</key>
	<string>instagranapp</string>
	<key>STORAGE_BUCKET</key>
	<string>instagranapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168076402426:ios:af426fea6b027d52107343</string>
	<key>DATABASE_URL</key>
	<string>https://instagranapp.firebaseio.com</string>
</dict>
</plist>